ul.nav {
  list-style-type: none;
    width: 100%;
   position: fixed;
  top: 0;
  left: 0;
  background-color: salmon;
  margin: 0;
  padding: 0;
}

li.nav{
  display: inline;
  padding: 30px;
    margin: 20px;
  float: left;
}

a {
  text-decoration: none;
  color: gold;      
  font-size: 120%;
}

li a:hover {
  background-color: #111;
  font-size: 130%;
}
  
